# Ignoruj pliki z danymi
data/raw_lyrics/
data/lyrics_dataset.csv
local_models
Lana/Lana/lanaraw

# Ignoruj pliki modeli
model/gpt2-lyrics-finetuned/
model/cached_lm_GPT2Tokenizer_128_lyrics_cache/

# Ignoruj pliki wirtualnego środowiska
venv/
.env/
