#lyricsDetailsSection {
  background-color: #f9f9f9;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

#lyricsDetailsSection h3 {
  margin-top: 0;
}

#lyricsDetailsSection p {
  white-space: pre-line;
}

input[type="text"] {
  padding: 10px;
  margin: 5px 0;
  border-radius: 4px;
  border: 1px solid #ccc;
  width: calc(100% - 22px);
}
.main {
  text-align: left;
}

.back {
  display: block;
}

.actions-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 15px;
}

#lyricsCreatedAt {
  color: gray;
  font-size: 14px;
}

.rate-container {
  display: flex;
  gap: 10px;
  align-items: flex-end;
}
