<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>AI Lyrics Generator</title>
    <link rel="icon" type="image/x-icon" href="/static/fav.ico">
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}" />
    <link rel="stylesheet" href="{{ url_for('static', filename='styles/home.css') }}" />
    <link rel="stylesheet" href="{{ url_for('static', filename='styles/sideMenu.css') }}" />
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="https://www.gstatic.com/firebasejs/8.6.8/firebase-app.js"></script>
    <script src="https://www.gstatic.com/firebasejs/8.6.8/firebase-auth.js"></script>
    <script src="https://www.gstatic.com/firebasejs/8.6.8/firebase-firestore.js"></script>
    <script src="https://www.gstatic.com/firebasejs/ui/6.0.1/firebase-ui-auth.js"></script>
    <link type="text/css" rel="stylesheet" href="https://www.gstatic.com/firebasejs/ui/6.0.1/firebase-ui-auth.css" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <script src="{{ url_for('static', filename='script.js') }}"></script>
    <script src="{{ url_for('static', filename='scripts/utils.js') }}"></script>
</head>

<body>
    <header>
        <h1>
            <img class="logo" src="static/fav.ico" alt="">
            <a href="/">
                AI Lyrics Generator
            </a>
        </h1>
        <div class="userDetails">
            <p id="userDetails"></p>
            <img id="userPhoto" alt="User photo">
            <div id="logoutButton" class="logout">
                Logout
            </div>
            <div id="loginButton" class="login">
                Log In
            </div>
        </div>
    </header>
    <div class="container">
        <aside id="sideMenu" class="side-menu">
            <div class="arrow-open" onclick="openSideMenu()">◄</div>
            <div class="content">
                <h3>
                    <div class="arrow-hide" onclick="hideSideMenu()">◄</div> Saved Lyrics
                </h3>
                <ul id="savedLyricsList"></ul>
            </div>
        </aside>
        <main>
            <div id="loginSection">
                <h2>Login</h2>
                <div id="firebaseui-auth-container"></div>
                <div id="loader">Loading...</div>
            </div>
            <div id="generateSection" style="display:none;">
                <div id="instructions"
                    style="background-color: #f0f0f0; padding: 15px; border-radius: 5px; margin-bottom: 15px;">
                    <h3>How to Use the AI Lyrics Generator</h3>
                    <ul>
                        <li> Type a short description or theme for the lyrics you want to generate. For example: "Love
                            and heartbreak".</li>
                        <li> After entering your prompt, click the "Generate Lyrics" button to start the text generation
                            process.</li>
                    </ul>
                    <p>
                        The text generation uses advanced AI algorithms to create unique and creative song lyrics based
                        on the given prompt. Feel free to experiment with different themes to get a variety of results.
                    </p>
                </div>
                <form id="lyricsForm">
                    <input type="text" id="prompt" name="prompt" placeholder="Love and heartbreak">
                    <button id="generateButton">Generate Lyrics</button>
                </form>
                <div id="generatedLyrics"></div>
                <div id="melodySection" style="display:none;">
                    <button id="generateMelodyButton">Generate Melody</button>
                    <a id="melodyLink"><button>Download melody</button></a>
                    <br>
                    <button id="downloadOriginalPdfButton">Download Original Lyrics PDF</button>
                    <button id="translateButton">Translate Lyrics</button>
                    <input type="text" id="targetLang" name="targetLang"
                        placeholder="Enter target language code (e.g., 'es' for Spanish)">
                    <div id="translatedSection" style="display:none;">
                        <div id="translatedLyrics"></div>
                        <button id="downloadTranslatedPdfButton" style="display:none;">Download Translated Lyrics
                            PDF</button>
                        <button id="downloadBothPdfButton" style="display:none;">Download Both Versions PDF</button>
                    </div>
                    <button id="saveLyricsButton">Save Lyrics</button>
                </div>
            </div>
        </main>
    </div>
    <footer>
        <p>&copy; 2024 AI Lyrics Generator</p>
    </footer>
</body>

</html>